<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <contextName>${HOSTNAME}</contextName>

    <property name="LOG_HOME" value="/opt/uyun/uem/logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%contextName|%level|octopus_bss|%class|%thread|%method|%line|%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/octopus_openApi.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/octopus_openApi.log.%d{yyyyMMdd}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <!--<totalSizeCap>10GB</totalSizeCap>-->
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%contextName|%level|octopus-bss|%class|%thread|%method|%line|%msg%n</pattern>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ROLLING-FILE" />
    </root>

    <logger name="uyun.octopus" level ="DEBUG"/>
    <logger name="com.alibaba.dubbo" level ="ERROR"/>
</configuration>